/* mHeiTi  中文和部分特殊字符 */
@font-face {
    font-family: mHeiTi;
    src: url('./font/PingFang Medium.subset.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: mHeiTi;
    src: url('./font/PingFang Bold.subset.ttf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: mHeiTi;
    src: url('./font/PingFang Heavy.subset.ttf') format('truetype');
    font-weight: 900;
}



/* Roboto  英文和数字 */
@font-face {
    font-family: Roboto;
    src: url('./font/Roboto-Medium.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: Roboto;
    src: url('./font/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: Roboto;
    src: url('./font/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
}


/* 特殊字符 */
@font-face {
    font-family: emjFont;
    src: url('./font/SourceHanSansCN-Medium.subset.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: emjFont;
    src: url('./font/SourceHanSansCN-Bold.subset.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: emjFont;
    src: url('./font/SourceHanSansCN-Heavy.subset.ttf') format('truetype');
    font-weight: 900;
}


/* 特殊字符 */
@font-face {
    font-family: Symbola;
    src: url('./font/Symbola.subset.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Symbola;
    src: url('./font/Symbola.subset.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Symbola;
    src: url('./font/Symbola.subset.ttf') format('truetype');
    font-weight: 900;
}
