@font-face {
    font-family: mHeiTi;
    src: url('../style/font/PingFang Regular.subset.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: mHeiTi;
    src: url('../style/font/PingFang Medium.subset.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: mHeiTi;
    src: url('../style/font/PingFang Bold.subset.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: mHeiTi;
    src: url('../style/font/PingFang Heavy.subset.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}


html,
body {
    color: #111111;
    background-color: #ffdddd;
    height: 100%;
    width: 800px;
    /*viewport width=800*/
    font-size: 30px;
    font-family: mHeiTi, emjFont, Symbola;
    font-weight: 300;
    line-height: 2;
    scroll-behavior: auto;
    /*smooth;*/
    -webkit-user-select: none;
}



