
@font-face {
    font-family: mHeiTi;
    src: url('../style/font/PingFang-Regular-subfont.woff') format('woff'),
        url('../style/font/PingFang Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: mHeiTi;
    src: url('../style/font/PingFang-Medium-subfont.woff') format('woff'),
        url('../style/font/PingFang Medium.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: mHeiTi;
    src: url('../style/font/PingFang-Bold-subfont.woff') format('woff'),
        url('../style/font/PingFang Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: mHeiTi;
    src: url('../style/font/PingFang-Heavy-subfont.woff') format('woff'),
        url('../style/font/PingFang Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}


html,
body {
    color: #111111;
    background-color: #ffdddd;
    height: 100%;
    width: 800px;
    /*viewport width=800*/
    font-size: 30px;
    font-family: mHeiTi, SimHei;
    font-weight: 300;
    line-height: 2;
    scroll-behavior: auto;
    /*smooth;*/
    -webkit-user-select: none;
}



